:root {
  --threed-rot-x: 0.1deg;
  --threed-rot-y: -0.1deg;

  --threed-active-depth: 150rem;

  --threed-depth: 200rem;
  --threed-color-top: #ddd;
  --threed-color-left: #bbb;
  --threed-color-bottom: #aaa;
  --threed-color-right: #ccc;
  --threed-color-content: white;
}

.threed-active:active {
  transform: translate(
    calc(
      (var(--threed-depth) - var(--threed-active-depth)) *
        sin(-1 * var(--threed-rot-y))
    ),
    calc(
      (var(--threed-depth) - var(--threed-active-depth)) *
        sin(1 * var(--threed-rot-x))
    )
  );
}
.threed-active:active threed-element {
  --threed-depth: var(--threed-active-depth);
}
